
$highlight: #c70000;
$defaultFontSize: 12px;
$accentFontSize: 16px;
$mediumFontSize: 24px;
$hugeFontSize: 48px;
//$highlight: #4b68ff;

@import url('https://fonts.googleapis.com/css2?family=Mulish:wght@100;200;300;400&family=Montserrat:ital,wght@0,100;0,200;0,400;0,500;1,200&display=swap&family=Raleway:wght@300;400');


body {
  font-family: 'Mulish', serif;
  font-family: 'Roboto', serif;
  font-family: 'Montserrat', serif;
  font-family: 'Raleway', serif;
  font-weight: 300;
}

body * {
  margin: 0;
  padding: 0;
  font-size: $defaultFontSize;
}

#main {
  width: 60em;
  margin: auto;
}

header {
  * {
    font-family: 'Montserrat';
  }

  ul {
    margin-top: 4px;
    li {
      display: inline;
    }

    list-style-type: none;
  }
  text-align: center;

  h1 {
    * {
      font-size: $hugeFontSize;
    }
    .thin {
      font-weight: 100;
    }
  }

  h4 {
    font-weight: 400;
    color: $highlight;
  }

  ul.location {
    color: #888;
    font-style: italic;
    font-weight: 400;

    li { padding-right: 5px; }
  }

  ul.contact {
    li {
      padding-left: 10px;
      padding-right: 10px;

      &:not(:last-child) {
        border-right: 1.5px solid black;
      }

      span { margin-left: 4px; }
    }
  }
}

.sectionContainer {
  position: relative;
  margin-top: 30px;

  h2 {
    background-color:  white;
    margin-top: 1px;
    position: absolute;
    top: -23px;
    padding-right: 4px;
    font-size: $mediumFontSize;

    span {
      font-size: $mediumFontSize;
    }

    .highlight {
      color: $highlight;
    }
  }

  .section {
    padding-top: 7px;
    margin-top: 8px;

    &.condensed {
      margin-top: 0;
    }

    &:first-of-type {
      border-top: 1.5px solid black;
    }

    .sectionTop {
      font-family: 'Montserrat';

      .sectionLeft {
        float: left;
        width: 70%;

        &.full-width {
          width: 100%;

          .title span {
            font-family: inherit;
            font-weight: 400;
          }
        }

        h4 {
          font-size: $accentFontSize;
        }

        .title span {
          text-transform: uppercase;
          font-weight: 500;
          line-height: 20px;
          font-family: 'Source Code Pro', monospace;
          font-size: 10px;

          &.large {
            font-size: $defaultFontSize;
          }
        }
      }

      .sectionRight {
        float: right;
        width: 30%;
        text-align: right;

        span {
          display: block;
          font-weight: 300;
          font-style: italic;
        }

        .date {}

        .location {
          color: $highlight;
        }
      }

      @extend .clearfix;
    }

    .sectionMain {
      ul.notes {
        list-style-position: inside;
        list-style: none;
        li {
          &:before {
            content: "•";
            //font-size: 24px;
            position: absolute;
            left: 0;
          }

          position: relative;
          font-size: $defaultFontSize;
          font-weight: 300;
          padding-left: 10px;
          line-height: 17px;
        }
      }
    }
  }
}


.clearfix {
  &:after {
    content: "";
    display: table;
    clear: both;
  }
}
